{
  "version": "10",
  "aliases": {
    "minio": {
      "url": "{{ minio_remote_url }}",
      "accessKey": "{{ minio_access_key }}",
      "secretKey": "{{ minio_secret_key }}",
      "api": "s3v4",
      "path": "auto"
    }
  }
}
