{
  "os": "l26",
  "cores": "2",
  "sockets": "1",
  "memory": "2048",
  "bridge": "vmbr0",
  "disk_type": "scsi",
  "disk_size": "10G",
  "disk_format": "raw",
  "disk_cache_mode": "none",
  "datastore": "local-lvm",
  "datastore_type": "directory",
  "cloud_init_storage_pool": "local-lvm",
  "scsi_controller": "virtio-scsi-pci",

  "iso": "local:iso/debian-12.1.0-amd64-netinst.iso",

  "ssh_password": "packer",
  "ssh_username": "packer",
  "ssh_timeout": "60m",

  "http_directory": "http",

  "boot_command": [
    "<esc>auto preseed/url=http://{{ .HTTPIP }}:{{ .HTTPPort }}/<enter>"
  ]
}
