[defaults]
deprecation_warnings = False
command_warnings = False
# use the YAML callback plugin
stdout_callback = yaml
# use the stdout_callback when running ad-hoc commands
bin_ansible_callbacks = True
interpreter_python = /usr/bin/python3
inventory = inventory
